/* Estilo global para el cuerpo */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background: linear-gradient(to right, #1f3f80, #46e60a); /* Fondo degradado vibrante */
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para el contenedor "jo" */
.jo {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente */
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  transition: transform 0.4s ease; /* Transición suave para hover */
}

.jo:hover {
  transform: scale(1.05); /* Aumenta el tamaño de todo el contenedor */
}

/* Estilo para las imágenes */
img {
  border: 5px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, filter 0.3s; /* Transición en hover */
}

img:hover {
  transform: rotate(5deg) scale(1.1); /* Rota y aumenta la imagen al hacer hover */
  filter: brightness(1.2); /* Aumenta el brillo */
}

/* Estilo para el enlace */
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #0a7171;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0e4785; /* Cambia el color de fondo al hacer hover */
}
